*{
    box-sizing: border-box;
}
body{
    background: #f3f4f6;
}

label {
    display: block;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 14px;
    color: #374151;
}

input[type="text"], textarea, select{
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 12px;
    color: #374151;
}
fieldset{
    border: 1px solid #d1d5db;
    border-radius: 6px;
    width: fit-content;
    margin-bottom: 16px;
    padding: 12px;
}


fieldset legend{
    font-size: 14px;
    color: #374151;
}

input[type="checkbox"]{
    display: inline-block;
}

input[type="checkbox"] ~ label, input[type="radio"] ~ label {
    display: inline;
}

section{
    margin-bottom: 16px;
}

section header{
    margin-bottom: 8px;
}

.row {
    display: flex;
    gap: 16px;
}


.container{
    max-width: 1300px;
    margin: 0 auto;
}

.content{
    box-shadow: 0 1px 3px 0 rgba(0 0 0  0.1), 0 1px 2px -1px rgba(0 0 0  0.1);
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 500px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers{
    font-size: 12px;
}

@font-face {
    src: url(https://dl.dropbox.com/s/hfc6fjqu9kkxbt5/Sweet%20Creamy.ttf);
    font-family: creamy;
}

creamy {
    font-family: creamy;
}
@font-face {
    font-family: pixel;
    src: url(https://dl.dropbox.com/s/kmhe7d3n18vdz5e/w95fa.woff?dl=0);
}

pixel {
    font-family: pixel;
}
label{
    font-family: pixel;
    font-size: 1.5em;
    color: #000;
}
h1 {
    font-family: creamy;
    font-size: 2em;
    color: #ffdfea;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #000;
}